.FrontApp {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

:root {
  --light-primary-color: rgba(255, 127, 80, 0.7);
  --dark-primary-color: rgba(0, 0, 128, 0.5);
  --light-secondary-color: #a51e1e;
  --dark-secondary-color: #16368d;
  --light-text-color: black;
  --dark-text-color: white;
}
