.Sidebar {
  transition: max-width 0.5s ease, min-width 0.5s ease;
  width: auto;
}

@media only screen and (max-width: 600px) {
  .Sidebar {
    display: none;
  }
}

.Sidebar button, .Drawer button {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 1rem;
  font-weight: 400;
  padding: 10px;
}

.Sidebar li:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3));
}
