.Appbar {
  position: fixed;
  z-index: 1100;
  top: 0;
  right: 0;
  left: auto;
  width: 100%;
}

.Navbar {
  display: flex;
  height: 76px;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  color: white;
}

.LinkList {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 600px) {
  .LinkList {
    display: none;
  }
}

.LinkList li {
  display: flex;
  align-items: center;
}

.Link {
  text-decoration: none;
  font-weight: 700;
  color: inherit;
}

.Link:hover {
  color: #3c52b2;
  transform: scale(1.2);
}

.Logo {
  flex-grow: 1;
  text-align: center;
  font-family: cursive;
  font-size: 200%;
}
