.Appbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  width: 100%;
  position: sticky;
  transition: background .6s ease-in-out;
}

.Appbar ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.Appbar li {
  margin-right: 20px;
}

.Appbar .Link {
    text-decoration: none;
}
