.FooterContainer {
  margin-top: auto;
}

.Footer {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.FooterSection {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  align-items: center;
  justify-content: center;
}

.FooterNavLink {
  width: 120px;
}
