.FooterContainer {
  margin-top: auto;
}

.Footer {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 6px;
  margin-top: 6px;
  margin-bottom: 6px;
}

.FooterSection {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.FooterLinkSection {
  gap: 12px;
}

.FooterMediaSection {
  padding: 6px;
  gap: 48px;
}

.FooterNavLink {
  width: 120px;
}
