ul {
  display: flex;
}

@media only screen and (max-width: 600px) {
  ul {
    display: none;
  }
}

li {
  display: flex;
  align-items: center;
}

button {
  font-weight: 700;
}

button:hover {
  color: #3c52b2;
  transform: scale(1.2);
}

.Logo {
  flex-grow: 1;
  text-align: center;
  font-family: cursive;
  font-size: 200%;
}
